* {
  box-sizing: border-box;
  max-width: 100%;
  line-height: 1.3;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(175, 165, 165);
}

section {
  display: none;
}

main {
  margin-top: 0;
  margin-bottom: auto;
}

.items {
  display: block;
  color: #fff;
  margin: 25px auto;
}

.container {
  width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.container .hide {
  display: none;
}

.alert {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background-color: #a53232;
  border-radius: 10px;
  z-index: 20;
}

.alert p {
  margin: 0;
}

.sorry {
  width: 50%;
  margin-left: 25%;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background-color: red;
  border: 2px solid darkgreen;
  border-radius: 10px;  
}

.btn {
  padding: 8px 15px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(11px);
  border-radius: 30px;
  font-weight: 400;
  border: 1px solid #24C5DB;
  color: #fff;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover, .btn:focus {
  background-color: #24C5DB;
}

.header {
  background-color: rgb(64, 186, 243);
  padding-top: 5px;
  z-index: 15;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  min-width: 60px;
  background-size: contain;
  background-position: center;
}

.logo__img {
  height: 80px;
  border-radius: 10px;
}

.logo__text{
  text-align: center;
  font-weight: 700;
}

.header-controll {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  width: 225px;
  color: black;
  padding: 5px 12px;
  background-color: white;
  backdrop-filter: blur(11px);
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 15px;
}

.header .header-controll input[type=search]::-webkit-search-decoration,
.header .header-controll input[type=search]::-webkit-search-cancel-button,
.header .header-controll input[type=search]::-webkit-search-results-button,
.header .header-controll input[type=search]::-webkit-search-results-decoration {
  color: #24C5DB;
  background-color: #24C5DB;
}

.selected-items {
  width: 48px;
  height: 60px;
  background-image: url(./assets/svg/basket.svg);
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.selected-items__count {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  margin-left: 13px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  background-color: #e73a48;
}

.footer {
  color: #fff;
  padding: 5px 0;
  background-color: #1e3c3a;
  margin-top: 15px;
}

.rs_img{
  width: 85px;
  height: 35px;
}

.footer .github img {
  margin-right: 5px;
}

.footer .github,
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer .github a,
.footer .container a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}

.filters {
  width: 25%;
  background-color: #1e3c3a;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

.filters__reset .btn {
  margin-top: 10px;
  margin-right: 10px;
}

.items-container.hidden {
  opacity: 0;
}

.items-container.hidden .items-container__item {
  transform: scale(0.01);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  justify-content: start;
  width: 75%;
  transition: opacity 0.3s;
  opacity: 1;
}

.items-container__item {
  width: calc(25% - 20px);
  min-width: 232px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid #1e3c3a;
}

.items-container__item img {
  height: 115px;
  display: block;
  margin: 15px auto 20px;
}

.items-container__item p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: black;
}

.items-container__item p:last-child {
  margin-bottom: 0;
}

.items-container__item .name,
.items-container__item .prise {
  min-height: 52px;
  font-size: 20px;
}

.btnBuy{
  width: 60%;
  margin-left: 20%;
  padding: 8px 15px;
  background: silver;
  border-radius: 15px;
  font-weight: 400;
  border: 2px solid rgb(255, 153, 0);
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.btnBuy:hover {
  background-color: white;
}

.btnBuy.selected {
  background-color: rgb(255, 153, 0);
  color: white;
}

@media (max-width: 1400px) {
  .items {
    margin: 15px auto;
  }
  .filters {
    width: 25%;
  }
  .items-container {
    width: 75%;
  }
  .items-container__item {
    width: calc(33.3% - 20px);
  }
}

@media (max-width: 1070px) {
  .filters {
    width: 28%;
  }
  .items-container {
    width: 72%;
  }
  .items-container__item {
    width: calc(50% - 10px);
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .items-container__item .name,
  .items-container__item .count {
    min-height: 44px;
    font-size: 17px;
  }
  .items-container__item img {
    height: 75px;
  }
  .items-container__item p {
    font-size: 12px;
  }
} 
